* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.light {
  --primary-color: #fff;
  --secondary-color: rgb(61, 98, 133);
  --tertiary-color: #111111;
}

.dark {
  --primary-color: #111111;
  --secondary-color: #c5c5c5;
  --tertiary-color: #adadad;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color);
}

blockquote {
  margin-left: 0;
  padding-left: 20px;
  font-style: italic;
  border-left: 3px solid var(--secondary-color);
}

a {
  color: var(--tertiary-color);
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.title a {
  color: var(--secondary-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}

#nav-links {
  display: flex;
}

nav li {
  list-style: none;
  margin-left: 10px;
}

nav li a {
  font-size: 20px;
}

nav .title {
  font-size: 30px;
  font-weight: 600;
}

main {
  min-height: calc(100vh - 40px);
  color: var(--tertiary-color);
}

footer {
  color: var(--tertiary-color);
}

#toggle-dark {
  background: transparent;
  border: none;
  font-weight: 600;
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 30px;
  color: var(--secondary-color);
  outline: none;
}

.blog-item {
  border: 1px solid var(--tertiary-color);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blog-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--tertiary-color);
}

.blog-desc {
  font-size: 16px;
  margin-bottom: 5px;
}

.blog-date {
  font-size: 14px;
}

.blog-body {
  margin-top: 40px;
}

pre,
code,
pre span {
  font-family: Ubuntu Mono, monospace !important;
}
